{
	"parser": "babel-eslint",
	"extends": ["airbnb", "plugin:flowtype/recommended"],
	"plugins": ["flowtype"],
	"env": {
		"amd": true,
		"jest": true,
		"browser": true,
		"node": true,
		"es6": true
	},
	"rules": {
		"react/jsx-filename-extension": [
			1, { "extensions": [".js", ".jsx"] }
		],
		"class-methods-use-this": "off",
		"indent": [2, "tab"],
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"no-tabs": 0,
		"react/require-default-props": 0,
		"react/default-props-match-prop-types": 0
	}
}
